body {
  --bg-color: #1F2128;
  --bg2-color: #333643;
  --text-color: #ffffff;
  --songTitle-color: #C9C9C9;
  --songArtist-color: #B2B2B2;
  --progbar-color: #545454;
}

body.dark-theme {
  --bg-color: #000000;
  --bg2-color: #1d1d1d;
  --text-color: #ffffff;
  --songTitle-color: #ffffff;
  --songArtist-color: #d4d4d4;
  --progbar-color: #444444;
}

body.light-theme {
  --bg-color: #fefefe;
  --bg2-color: #c7d5dd;
  --text-color: #1f1f1f;
  --songTitle-color: #343333;
  --songArtist-color: #cccccc;
  --progbar-color: #cedee8;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

body .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 50%;
  mix-blend-mode: darken;
  opacity: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body ::-webkit-scrollbar {
  display: none;
}

body nav {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav h1 {
  font-size: 36px;
  padding-left: 10%;
}

body .playlistcon {
  width: 100%;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

body .playlistcon .pltxt {
  width: 10%;
  height: 80%;
  text-align: end;
}

body .playlistcon .pltxt p, body .playlistcon .pltxt i {
  font-size: 22px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

body .playlistcon .pltxt i {
  font-size: 18px;
}

body .playlistcon .playlists {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  white-space: nowrap;
}

body .playlistcon .playlists .playscroll {
  width: 80%;
}

body .playlistcon .playlists .playlist {
  height: 100%;
  display: inline-block;
  margin: 0 20px;
}

body .playlistcon .playlists .playlist img {
  height: 100%;
}

body .catgry {
  width: 100%;
  height: 36%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .catgry .selcat {
  width: 10%;
  height: 86%;
}

body .catgry .selcat .btnrot {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body .catgry .selcat .btnrot .scatbtn, body .catgry .selcat .btnrot .lcatbtn {
  font-size: 16px;
  outline: none;
  border: none;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-color);
}

body .catgry .selcat .btnrot .scatbtn .circle, body .catgry .selcat .btnrot .lcatbtn .circle {
  width: 4px;
  height: 4px;
  margin-bottom: 15%;
  background: var(--text-color);
  border-radius: 50%;
}

body .catgry .selcat .btnrot .lcatbtn {
  margin-right: 100%;
}

body .catgry .songs-container {
  padding: 2.5% 0 2.5% 0;
  width: 90%;
  height: 100%;
  overflow-y: scroll;
}

body .catgry .songs-container .song {
  width: 100%;
  height: 80px;
  padding: 0 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .catgry .songs-container .song img {
  height: 65.12px;
  width: 62.51px;
  border-radius: 1em;
  -o-object-fit: cover;
     object-fit: cover;
}

body .catgry .songs-container .song .info {
  width: 60%;
  height: 50%;
}

body .catgry .songs-container .song .info .infotittle {
  color: var(--songTitle-color);
  font-size: 18px;
}

body .catgry .songs-container .song .info .infoartist {
  color: var(--songArtist-color);
  font-size: 12px;
}

body .catgry .songs-container .song i {
  opacity: 60%;
}

body .bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
}

body .bottom .mPCont {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bg2-color);
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;
}

body .bottom .mPCont .top {
  width: 100%;
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.5%;
}

body .bottom .mPCont .top img {
  height: 60.12px;
  width: 57.51px;
  border-radius: 1em;
  -o-object-fit: cover;
     object-fit: cover;
}

body .bottom .mPCont .top .mptc {
  width: 90%;
  height: 60%;
  padding: 0 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .bottom .mPCont .top .mptc .tp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .bottom .mPCont .top .mptc .tp .navigation {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .bottom .mPCont .top .mptc .tp .navigation .actionbtn {
  border: none;
  outline: none;
  font-size: 16px;
  background: none;
  color: #ffffff;
}

body .bottom .mPCont .top .mptc .tp .navigation .actionbtnbig {
  font-size: 22px;
}

body .bottom .mPCont .top .mptc .progresscon {
  width: 100%;
  height: 2px;
  background: var(--progbar-color);
  border-radius: 5px;
}

body .bottom .mPCont .top .mptc .progresscon .progress {
  height: 100%;
  width: 0;
  border-radius: 5px;
  background: white;
}

body .bottom .navbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: var(--bg-color);
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;
}
/*# sourceMappingURL=style.css.map */